{% load static %}

    <section id="features" class="section-padding">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Recursos</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">

            {% for re in recursosesquerdo %}
            <div class="content-left">
              <div class="box-item wow fadeInLeft" data-wow-delay="0.3s">
                <span class="icon">
                  <i class="{{ re.icone }}"></i>
                </span>
                <div class="text">
                  <h4>{{ re.tecnologia }}</h4>
                  <p>{{ re.descricao }}</p>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="show-box wow fadeInUp" data-wow-delay="0.3s">
              <img src="{% static 'img/feature/intro-mobile.png' %}" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="content-right">

              {% for rd in recursosdireito %}
              <div class="box-item wow fadeInRight" data-wow-delay="0.3s">
                <span class="icon">
                  <i class="{{ rd.icone }}"></i>
                </span>
                <div class="text">
                  <h4>{{ rd.tecnologia }}</h4>
                  <p>{{ rd.descricao }}</p>
                </div>
              </div>
              {% endfor %}


            </div>
          </div>
        </div>
      </div>
    </section>