{% load static %}

    <div class="about-area section-padding bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12 info">
            <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
              <div>
                <div class="site-heading">
                  <p class="mb-3">Motivacional</p>
                  <h2 class="section-title">Frase do seu dia</h2>
                </div>
                <div class="content">
                  <p>
                    Seu trabalho vai preencher boa parte de sua vida e a única maneira de ser verdadeiramente
                    satisfeito é fazer o que acredita ser um ótimo trabalho. E a única maneira de fazer um
                    ótimo trabalho é amar o que você faz.
                  <p class="text-right"><strong>Steve Jobs</strong></p>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
            <img class="img-fluid" src="{% static 'img/about/img-1.png' %}" alt="" >
          </div>
        </div>
      </div>
    </div>
